@import "src/styles/color-variables.module";

.listItemCard {
  width: 100%;
  max-width: 33.3%;
  border-radius: 3px;

  .header {
    display: flex;
    background-color: $white-color;
    height: 60px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    justify-content: space-between;
    padding: 15px 10px;

    p:first-child {
      font-weight: 600;
      font-size: 16px;
    }

    p:last-child {
      sup {
        font-size: 11px;
        margin-right: 3px;
        opacity: 0.6;
      }

      font-weight: 600;
      font-size: 20px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 230px;
    overflow-y: scroll;
    padding-bottom: 50px;

    .cabinFeatureItem {
      border-bottom: 1px solid lightgray;
      padding: 10px;

      p {
        color: black;
        font-size: 13px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 50px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #f9f9f9;
      background-color: red;
      font-size: 15px;
      border: unset;
      cursor: pointer;

      &:disabled {
        background-color: slategrey;
        color:lightgray;
        cursor:default;
      }
    }
  }
}
