@import "src/styles/grid-system.module";
@import "/src/styles/color-variables.module";

.searchButton {
  display: flex;
  align-items: center;
  background-color: $red-color;
  padding: 0.75rem;
  height: 48px;
  width: 42px;
  border: 0;
  justify-content: center;
  cursor: pointer;

  @include lower-than-desktop {
    width: 300px;
  }

  svg {
    width: 10px;
    max-width: 10px;
  }
}
