@import "src/styles/color-variables.module";

.header {
  border-bottom: 1px solid white;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      color: white;

      span {
        font-weight: 300;
      }

      a {
        font-weight: bold;
      }
    }

    li:nth-child(2) {
      display: flex;
    }
  }

  &.dark {
    ul li {
      color: $dark-blue-color;
    }
    border-bottom-color: $dark-blue-color;
  }
}
