@import "src/styles/color-variables.module";
@import "src/styles/grid-system.module";

.listItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  .listItemHorizontal {
    display: flex;
    gap: 20px;

    @include tablet {
      flex-wrap: wrap;
    }

    @include mobile-phone {
      flex-direction: column;
    }

    .listItemFlightInfo {
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      box-shadow: $box-shadow;
      background-color: white;
      padding: 20px;

      .flightLocationAndTimes {
        width: auto;

        p {
          font-weight: 600;
          font-size: 17px;
        }

        &.rightAlign {
          text-align: right;
        }

        .cities {
          display: flex;
          flex-direction: column;

          p:first-child {
            font-weight: 500;
            color: gray;
            font-size: 13px;
          }

          p:last-child {
            font-size: 11px;
            color: gray;
          }
        }
      }

      .roadLine {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        hr {
          width: 100%;
          transform: rotate(0deg);
          display: block;
        }
      }

      .flightTotalTime {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 3px;

        p:first-child {
          text-wrap: nowrap;
          font-size: 10px;
          color: gray;
          font-weight: 500;
        }

        p:last-child {
          text-align: center;
        }
      }
    }
  }

  .flightCabins {
    display: flex;
    gap: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: $box-shadow;

    @include mobile-phone {
      flex-wrap: wrap;
    }
  }
}
