@import "src/styles/color-variables.module";

.textLabel {
  background-color: $red-color;
  width: 120px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}
