.quantityChangeButtons {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(209 213 219);
    border: 0;
    color: rgb(107, 114, 128);
    cursor: pointer;
  }
}
