@import "/src/styles/color-variables.module";

@mixin main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
}

@mixin page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  background-color: $dark-blue-color;
  @include main;
}

.flightListMain {
  background-color: white;
  @include main;
}

.flightSearch {
  @include page;
  margin-top: 6rem;
  gap: 1.5rem;
}

.flightList {
  @include page;

  max-width: 1000px;
  width: 100%;
  align-items: flex-start;
  margin: 0 auto;

  .flightListHeader {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.flightResultMain {
  background-color: white;
  @include main;
}

.flightResult {
  @include page;

  max-width: 1000px;
  width: 100%;
  align-items: flex-start;
  margin: 0 auto;
}
