@import "/src/styles/color-variables.module";

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  background-color: $primary-color;
}

.flightSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 6rem;
  gap: 1.5rem;
}
