@import "/src/styles/color-variables.module";

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  background-color: $primary-color;
}

.flightSearchMiddle {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 10rem;
}
